/* header padding */
body {
  position: relative;
  padding-top: 60px;
  /*font-family: 'Montserrat', sans-serif;*/
}

/* Desktop
------------------------- */
@media (min-width: 979px) {
  body {
      padding-top: 60px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }
}

a {
	background-color: transparent;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.txt-ar {
	text-align: right !important;
}
.txt-ac {
	text-align: center !important;
}
.txt-al {
	text-align: left !important;
}

div.stats {
	text-align: right;
	width: 99%;
	color: #aaa;
	font-size: 80%;
}
.required-txt {
	padding-left: 128px;
	font-size: 12px;
	font-style: italic;
	color: #7a7a7a;
}
.working-img {
	background: url(../img/ajax-loader.gif) left center no-repeat;
	width: 20px;
	height: 40px;
}
.logged-in-as {
	line-height: 40px;
	font-size: 12px;
	color: #828282;
}
