body {
	/*font-family: Montserrat;*/
}

.admin.group legend {
	font-size: 120%;
	line-height: 1.2;
	margin-bottom: 5px;
	padding-top: 5px;
}

.admin.group .resource {
	font-size: 100%;
}

.admin tbody i {
	font-size: 140%;
	font-weight: normal;
	display: inline-block;
	width: 24px;
}

.admin a.no-link-look, a.no-link-look:hover {
	text-decoration: none;
	color: black;
}

.admin table a i, table a:hover i {
	text-decoration: none;
}

.admin .form-horizontal span.help-block {
	margin-top: 0px;
	font-size: 85%;
	padding-left: 6px;
}

.admin .header h3 {
	margin: 0;
}

.admin .header small {
	padding: 0 0 0 12px;
	font-size: 12px;
	color: #888;
}

.admin .form-header h3 {
	margin: 0;
	white-space: nowrap;
}

.admin .form-header small {
	padding: 0;
	font-size: 12px;
	line-height: 50px;
	margin: 0 0 0 -20px;
	color: #888;
}

.admin.media h3 {
	margin-top: -32px;
	margin-bottom: 0;
}

.admin label.text {
	padding-top: 5px;
}

.admin table thead th.action {
	width: 130px;
}

.admin .itsgood {
	color: #fff;
	line-height: 40px;
}

.admin .subview {
	padding: 32px 0;
}
.admin .subview label {
	padding: 4px 0;
}

.admin fieldset.subview {
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background:         linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
          border-radius: 3px;
	padding: 12px;
	border: 1px solid #CCC;
	margin-top: 4px;
}
.admin .subview .buttons {
	padding-top: 18px;
}